<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
			<item label="FireFox" icon="/home/andrew/.config/openbox/icons/firefox.png"> <action name="Execute">
			<execute>firefox</execute>
		</action></item>
		<item label="Thunar File Manager" icon="/home/andrew/.config/openbox/icons/thunar.png"> <action name="Execute">
			<execute>Thunar</execute>
		</action> </item>
		<menu id="2" label="Editors">
				<item label="gedit" icon="/home/andrew/.config/openbox/icons/gedit.png"> <action name="Execute">
				<execute>gedit</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>urxvt -e vim</execute>
			</action> </item>
			<item label="gVim" icon="/home/andrew/.config/openbox/icons/gvim.png"> <action name="Execute">
				<execute>gvim</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
				<item label="rxvt-unicode" icon="/home/andrew/.config/openbox/icons/term.png"> <action name="Execute">
				<execute>urxvt</execute>
			</action> </item>
		    <item label="Thunar File Manager" icon="/home/andrew/.config/openbox/icons/thunar.png"> <action name="Execute">
				<execute>Thunar</execute>
			</action> </item>
			<item label="Xterm" icon="/home/andrew/.config/openbox/icons/term2.png"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
			<item label="Dash" icon="/home/andrew/.config/openbox/icons/term2.png"> <action name="Execute">
				<execute>xterm -e dash -i</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="35" label="Xfce">
					<item label="File Manager"> <action name="Execute">
						<execute>thunar-settings</execute>
					</action> </item>
					<item label="Preferred Applications"> <action name="Execute">
						<execute>exo-preferred-applications</execute>
					</action> </item>
					<item label="Removable Drives and Media"> <action name="Execute">
						<execute>thunar-volman-settings</execute>
					</action> </item>
					<item label="Screensaver"> <action name="Execute">
						<execute>xscreensaver-demo</execute>
					</action> </item>
				</menu>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel tint2"> <action name="Execute">
					<execute>tint2conf</execute>
				</action> </item>
			</menu>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/Thunar/ThunarBulkRename</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Activate ScreenSaver (Random)"> <action name="Execute">
				<execute>xscreensaver-command -activate</execute>
			</action> </item>
			<item label="Demo Screen Hacks"> <action name="Execute">
				<execute>xscreensaver-command -demo</execute>
			</action> </item>
			<item label="Disable XScreenSaver"> <action name="Execute">
				<execute>xscreensaver-command -exit</execute>
			</action> </item>
			<item label="Enable XScreenSaver"> <action name="Execute">
				<execute>xscreensaver</execute>
			</action> </item>
			<item label="ScreenSaver Preferences"> <action name="Execute">
				<execute>xscreensaver-command -prefs</execute>
			</action> </item>
			<item label="Xarchiver"> <action name="Execute">
				<execute>xarchiver</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
